@model IEnumerable<Hostel_Management.Models.Model.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccount.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccount.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row" style="  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;">
	<div class="col-6 col-sm-4 col-md-3">
        <a style="text-decoration:none;" asp-action="Create" asp-route-id="@ViewBag.id">
            <div class="create-tran-btn">Add Cash</div>
        </a>
	</div>
	<div class="col-6 col-sm-4 col-md-3">

        <a style="text-decoration:none;" asp-action="Create" asp-route-id="@ViewBag.id">
            <div class="create-tran-btn">Send Money</div>

        </a>

	</div>
</div>
